/* MOBILE LAYOUT */
/* All the following styling is for the mobile layout only, and is broken in sections */

/* universal styling - applies to the entire document for all screen sizes */
html {
    font-family: 'Montserrat', sans-serif;
    background-color: #f7f7ff;
    color: #333131;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

/* Main page styling (MOBILE) */

.main {
   padding: 0 1.75rem; 
   display: grid;
   grid-template-columns: repeat(1, auto);
   grid-template-rows: repeat(2, auto);
}

.header img {
    max-width: 200px;
    height: auto;
}

.div-1 h1 {
    font-weight: bolder;
    font-size: 79px;
}

.div-1 p {
    font-size: 34px;
}


.div-2 img {
    max-width: 100%;
    height: auto;
}

/* Styling of the main form begins */

/* Styling of the container */
.div-3 {
    background-color: white;
    border-radius: 20px;
    padding: .2rem 2rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    display: inline-block;
}


/* Styling of the inline elements (form) */
h2 {
    font-size: 50px;
    margin-bottom: 0rem;
}

.div-3 p {
    font-size: 20px;
}

.p2 {
    display: none;
}

.div-3 input {
    width: 100%;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: #f7f7ff;
    padding: 15px 0px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    color: #333131;
    font-size: 16px;
    text-align: left;
}

::placeholder{
    padding-left: 4.50%;
}

.label {
    display: none;
}

#terms {
    font-size: 17px;
}

#agree {
    width: auto;
    transform: scale(1.75);
    margin-right: 3.5%;
}

#btn {
    width: 100%;
    display: block;
    background-color: #57eeab;
    padding: 0.75rem;
    border-radius: 10px;
    border: none;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Montserrat';
    color: #333131;
}

a {
    text-decoration: none;
    color: #ff8480;
}
/* Styling of the main form ends */

/* Footer styling begins */
.footer {
    background-color: #fffd8c;
    padding: 1.75rem 2.75rem;
    width: 100%;
}

/* Styling of the footer inline elements */
h3 {
    font-size: 25px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 2.5%;
}

.div-4 p {
    font-size: 18px;
    margin-top: 0;
}

#hours {
    width: 25%;
    border-radius: 15px;
    background-color: #f7f7ff;
    padding: 12px 0px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    color: #333131;
    font-size: 16px;
    text-align: left;
}

#city {
    width: 65%;
    border-radius: 15px;
    background-color: #f7f7ff;
    padding: 15px 0px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    color: #333131;
    font-size: 16px;
    text-align: left;
}

#btn-2 {
    width: 90%;
    background-color: #ff8480;
    padding: 1%;
    border-radius: 10px;
    border: none;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Montserrat';
    color: #f7f7ff;
    display: inline-block;
}


.div-6 {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fb {
    border-radius: 15px;
}

/* Footer styling ends */
/* MOBILE layout and styling ends */
/* ----------------------------------------------------------------------------------- */

/* TABLET LAYOUT & STYLES */
@media only screen and (min-width: 640px) and (max-width: 1007px) {

/* Main page styling */
/* Adding minor tweaks by changing font sizes, margins and display */
.main {
    padding: 0 2.25rem;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
}

.div-1 h1 {
    font-size: 82px;
}

.div-1 p {
    font-size: 37px;
}


.div-3 {
    margin: 0 auto;
}

.p2 { 
    display: none;
}

.div-5 {
    display: inline-block;
}

/* Footer styling */
/* Adding flex to change the layout for responsiveness */
.footer-form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
}

#hours {
    margin-right: 2%;
}

#city {
    margin-right: 2%;
}

.div-6 {
    margin-top: 2rem;
}

.fb {
    border-radius: 15px;
}
}
/* TABLET layout ends */
/* ----------------------------------------------------------------------------------- */

/* DESKTOP LAYOUT */

/* Adding a grid for responsiveness */
/* Replacing the scooter image by making it a background image */
@media only screen and (min-width: 1007px){
    .main {
        background-image: url(../images/scooter.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 47%;
        background-position-y: 125px;
        padding: 0 5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas: 
        "header header header"
        "text image form";
    }

    .header {
        grid-area: header;
    }

    .div-1 {
           grid-area: text;
    }

    .div-2 {
        display: none;
        grid-area: image;
    }

    .div-3 {
        grid-area: form;
    }

/* Resizing elements according to the layout */
    .header img {
        max-width: 100px;
        height: auto;
    }

    .div-1 h1 {
        font-size: 60px;
    }

    .div-1 p {
        font-size: 20px;
    }

    .div-3{
        display: inline-block;
    }

    .p1 {
        display: none;
    }

    .p2 {
        display: block;
    }

    .site-form p {
        margin-top: 0%;
    }

/* Styling the footer */
/* Adding a grid to the footer for better responsiveness */
    .footer {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas: 
        "hours icon"
        "calculate icon";
    }

    .div-4 {
        grid-area: hours;
    }

    .div-5 {
        grid-area: calculate;
        display: inline-block;
    }

    .div-6 {
        grid-area: icon;
        display: flex;
        justify-content: flex-end;
    }

    .footer-form {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #hours {
        margin-right: 2%;
    }

    #city {
        margin-right: 2%;
    }

    .div-6 img {
        padding: 15px;
    }

    .fb {
        order: 1;
    }

    .linkedin {
        order: 2;
    }

}
/* DESKTOP layout ends */