/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* --------------------------------------------------------------------
                           Custom Styles
----------------------------------------------------------------------- */

html {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}
body {
    line-height: 1.5;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    line-height: inherit;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    color: #3c3b3a;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: #3c3b3a;
}

h3 {
    font-size: 24px;
    color: #3c3b3a;
}

p {
    font-size: 20px;
    color: #3c3b3a;
    line-height: 38px;
}
/* MOBILE LAYOUT */
/* HEADER STYLES */
.site-header {
    background-color: #3c3b3a;
}
.header {
    text-align: center;
}

.header img {
    width: 150px;
    height: 120px;
}

.header nav a {
    text-decoration: none;
    color: #f2f2f2;
}

a:visited,
a:hover,
a:focus,
a:active {
    font-weight: bolder;
}

/* MAIN BODY STYLES */
main {
    display: grid;
    grid-template-columns: repeat(1 , auto);
    grid-template-rows: repeat(11, auto);
}

.construction {
    padding: 4% 8%;
}
.const {
    text-align: center;
}
.const img {
    max-width: 80%;
    height: auto;
    padding: 5% 0%;
}

/* using the image as a background for better control and adjustment rather than using it as an img in HTML */
.about-banner {
    background-image: url(../images/about.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
}

/* adding a layer of dark/forest green color and reducing its opacity to give an overlay/blend effect */
.layer {
    background-color: rgba(27, 110, 90, 0.7);
    width: 100%;
    height: 200px;
    text-align: center;
}

.about-banner h2 {
    color: #f2f2f2;
    position: relative;
    top: 35%;
    font-size: 50px;
}

.www {
    padding: 4% 8%;
    background-color: #f2f2f2;
}

.www h3 {
    font-style: italic;
    font-weight: bold;
    font-size: 32px;
}

/* using the same method as the above background image */
.services-banner {
    background-image: url(../images/services.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.services-banner h2 {
    color: #f2f2f2;
    position: relative;
    top: 30%;
    font-size: 50px;
}

.bar img {
    display: none;
}

.break {
    padding: 4% 8%;
}

.break h3 {
    color: #26a682;
}

.break p {
    line-height: 50px;
}

.light-gray {
    background-color: #f2f2f2;
}

.bowl img {
    display: none;
}

.friends {
    padding: 4% 8%;
}

.friends h3 {
    color: #26a682;
}

.friends p {
    line-height: 50px;
}

.subs {
    background-color: #3c3b3a;
    text-align: center;
    padding: 8% 0%;
}

.subs p {
    color: #f2f2f2;
}

.subscribe {
    background-color: #26a682;
    color: #f2f2f2;
    text-decoration: none;
    border: none;
    width: 150px;
    height: 45px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 22px;
}

.fitness img {
    display: none;
}

.new {
    padding: 4% 8%;
}

.new h3 {
    color: #26a682;
}

.new p {
    line-height: 50px;
}

.climbing {
    padding: 4% 8%;
}

.climbing h3 {
    color: #26a682;
}

.climbing p {
    line-height: 50px;
}

.climb img {
    display: none;
}

.sponsors {
    text-align: center;
}

.thankyou {
    padding: 8%;
    text-align: center;
    font-size: 56px;
}

/* changing the width of the icons using the nth child selector to match their widths */
.icons img {
    height: auto;
    padding: 4% 8%;
}

.icons img:nth-child(1) {
    max-width: 400px;
}

.icons img:nth-child(4) {
    max-width: 250px;
}

.icons img:nth-child(2),
.icons img:nth-child(3) {
    max-width: 300px;
}
/* MOBILE STYLES END */

/* TABLET STYLES */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header {
        display: flex;
        padding: 0 7%;
    }

    nav {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    nav a {
        padding-left: 5%;
    }

    main {
        display: grid;
        grid-template-columns: repeat(1 , auto);
        grid-template-rows: repeat(11, auto);
    }

    h1 {
        font-size: 72px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 32px;
    }

    .construction p {
        font-size: 24px;
    }

    .about-banner h2 {
        font-size: 56px;
    }

    .www h2 {
        font-size: 40px;
    }

    .services-banner h2 {
        font-size: 56px;
    }

    /* Changing the size of the container and then adjusting the div elements within the div container in order to match closely to the mockup while also being responsive */

    .drinks {
        display: flex;
        padding: 10%;
    }

    .bar img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .bar {
        width: 40%;
    }

    .break {
        width: 60%;
        padding: 0% 0% 0% 3%;
    }

    .light-gray {
        display: flex;
        padding: 10%;
    }

    .friends {
        width: 60%;
        padding: 0% 3% 0% 0%;
    }

    .bowl img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .bowl {
        width: 40%;
    }

    .subs {
        display: flex;
        justify-content: center;
        padding: 3% 0%;
    }

    .subs p {
        padding-right: 22%;
        font-size: 24px;
    }

    .subscribe {
        font-size: 24px;
    }

    .gym {
        display: flex;
        padding: 10%;
    }

    .fitness img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .fitness {
        width: 40%;
    }

    .new {
        width: 60%;
        padding: 0% 0% 0% 3%;
    }

    .climbing {
        width: 60%;
        padding: 0% 3% 0% 0%;
    }

    .climb img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .climb {
        width: 40%;
    }
    
    .sponsors {
        text-align: center;
    }
}
/* TABLET STYLES END */

/* DESKTOP STYLES */
@media only screen and (min-width: 1024px) {
    .header {
        display: flex;
        padding: 0 7%;
    }

    nav {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    nav a {
        padding-left: 5%;
    }

    h1 {
        font-size: 72px;
    }

    .top-section {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2% 7%;
    }

    .construction {
        width: 50%;
        padding: 0%;
    }

    .const {
        width: 50%;
        padding: 0%;
    }

    .www {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(1, auto);
        grid-template-areas: 
        "who what where";
    }

    .who {
        grid-area: who;
        padding-right: 5%;
    }

    .what {
        grid-area: what;
        padding-right: 5%;
    }

    .where {
        grid-area: where;
    }

    /* using the same method as mentioned in the tablet layout for a polished look */
    .drinks {
        display: flex;
        padding: 10% 7% 0 7%;
    }

    .bar img {
        display: block;
        width: 100%;
        height: 60%;
        object-fit: cover;
    }

    .bar {
        width: 50%;
    }

    .break {
        width: 50%;
        padding: 0 0 0 3%;
    }

    .light-gray {
        display: flex;
        padding: 10% 7% 0 7%;
    }

    .friends {
        width: 50%;
        padding: 0 3% 0 0;
    }

    .bowl img {
        display: block;
        width: 100%;
        height: 60%;
        object-fit: cover;
    }

    .bowl {
        width: 50%;
    }

    .subs {
        display: flex;
        justify-content: center;
        padding: 1% 0%;
    }

    .subs p {
        padding-right: 3%;
        font-size: 24px;
    }

    .subscribe {
        font-size: 24px;
    }

    .gym {
        display: flex;
        padding: 10% 7% 0 7%;
    }

    .fitness img {
        display: block;
        width: 100%;
        height: 60%;
        object-fit: cover;
    }

    .fitness {
        width: 50%;
    }

    .new {
        width: 50%;
        padding: 0 0 0 3%;
    }

    .climbing {
        width: 50%;
        padding: 0 3% 0 0;
    }

    .climb img {
        display: block;
        width: 100%;
        height: 60%;
        object-fit: cover;
    }
    
    .climb {
        width: 50%;
    }

    .icons {
        display: flex;
        justify-content: center;
    }

    .icons img {
        height: auto;
        padding: 4% 2%;
    }

    .icons img:nth-child(1) {
        max-width: 20%;
    }
    
    .icons img:nth-child(4) {
        max-width: 20%;
    }
    
    .icons img:nth-child(2),
    .icons img:nth-child(3) {
        max-width: 20%;
    }

}

/* FOOTER STYLES */
/* forming a grid in order to align the elements properly in the center of the footer */
.site-footer {
    background-color: #3c3b3a;
    display: grid;
    grid-template-columns: 28% 40% 28%;
    grid-template-rows: repeat(1, auto);
    grid-template-areas: 
    "empty follow btp";
}
.follow {
    grid-area: follow;
    text-align: center;
    margin-bottom: 10%;
    margin-top: 5%;
}

.follow h3 {
    margin-bottom: 1%;
    color: #f2f2f2;
}
.follow img {
    margin-left: 1%;
}
.btp {
    grid-area: btp;
    text-align: center;
    font-size: 35px;
    margin-top: 10%;
}

/* adding an infinite animation to the "back to top" icon where it rotates 360* on its axis and pauses for a second */
@keyframes rotation {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(359deg);
    }
}

.btp i {
    color: #26a682;
    width: 20px;
    height: 20px;
    animation: rotation 4s infinite linear;
}
.btp p {
    color: #f2f2f2;
}

.btp a {
    text-decoration: none;
}