/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* --------------------------------------------------------------------
                           Custom Styles
----------------------------------------------------------------------- */
html {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}
body {
    line-height: 1.5;
}

main {
    margin-left: 5%;
    margin-right: 5%;
}
*,
*::after,
*::before {
    box-sizing: inherit;
    line-height: inherit;
}

h1 {
    font-size: 50px;
    font-weight: bolder;
    color: #3c3b3a;
}

h2 {
    font-size: 32px;
    font-weight: bolder;
    color: #3c3b3a;
}

h3 {
    font-size: 24px;
    color: #3c3b3a;
}

p {
    font-size: 16px;
    color: #3c3b3a;
}

/* HEADER STYLES */
.site-header {
    background-color: #3c3b3a;
}
.header {
    text-align: center;
}

.header img {
    width: 140px;
    height: 120px;
}

.header nav a {
    text-decoration: none;
    color: #f2f2f2;
}

a:visited,
a:hover,
a:active {
    font-weight: bolder;
}

/* BODY STYLES */
main {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(4, auto);
}

.hear img {
    max-width: 100%;
    height: auto;
}
.contact h2 {
    color: #f2f2f2;
    padding-top: 15px;
}
.contact-form {
    background-color: #26a682;
    border-radius: 20px;
    padding: .2rem 1rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    display: inline-block;
    font-size: 14px;
    margin: 0 auto;
    line-height: 30px;
    width: 80%;
    
}

.conform { 
    padding: 5%;
}

.conform label {
    color: #f2f2f2;
}

.conform input {
    width: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    padding: 5px 0px;
    border: none;
    color: #3c3b3a;
    font-size: 16px;
    text-align: left;
}

.conform textarea {
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    border: none;
    color: #3c3b3a;
    font-size: 16px;
    text-align: left;
}

::placeholder{
    padding-left: 4.50%;
}

.sbt{
    width: 200px;
    border: none;
    display: block;
    background-color: #3c3b3a;
    border-radius: 20px;
    color: #f2f2f2;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    float: right;
    margin-bottom: 5%;
}

iframe {
    width: 100%;
}

/* --------------------- */
/* FOOTER STYLES */
.site-footer {
    background-color: #3c3b3a;
    display: grid;
    grid-template-columns: 28% 40% 28%;
    grid-template-rows: repeat(1, auto);
    grid-template-areas: 
    "empty follow btp";
}
.follow {
    grid-area: follow;
    text-align: center;
    margin-bottom: 10%;
    margin-top: 5%;
}

.follow h3 {
    margin-bottom: 1%;
    color: #f2f2f2;
}
.follow img {
    margin-left: 1%;
}
.btp {
    grid-area: btp;
    text-align: center;
    font-size: 35px;
    margin-top: 10%;
}

@keyframes rotation {
    from {
            transform: rotate(0deg);
    }
    to {
            transform: rotate(359deg);
    }
}

.btp i {
    color: #26a682;
    width: 20px;
    height: 20px;
    animation: rotation 4s infinite linear;
}
.btp p {
    color: #f2f2f2;
}

.btp a {
    text-decoration: none;
}

/* ------- TABLET --------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .header {
        display: flex;
        padding: 0 7%;
    }

    nav {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    nav a {
        padding-left: 5%;
    }
    
    main {
        display: grid;
        grid-template-columns: repeat(1 , auto);
        grid-template-rows: repeat(4, auto);
    }
}

/* --------- DESKTOP ---------- */
@media only screen and (min-width: 1024px) {
   
    .header {
        display: flex;
        padding: 0 7%;
    }

    nav {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    nav a {
        padding-left: 5%;
    }

    main {
        margin-top: 7%;
        margin-bottom: -12%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "hear contact"
        "location map";
    }

    .hear {
        grid-area: hear;
    }

    .conform {
        grid-area: contact;
    }

    .location {
        grid-area: location;
    }

    .map {
        grid-area: map;
    }

    .contact-form {
        line-height: 42px;
        margin-bottom: 20%;
    }
}