/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* --------------------------------------------------------------------
                           Custom Styles
----------------------------------------------------------------------- */
html {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    line-height: inherit;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    color: #3c3b3a;
}

h2 {
    font-size: 32px;
    color: #3c3b3a;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    color: #3c3b3a;
    font-weight: bold;
}

p {
    font-size: 16px;
    color: #3c3b3a;
    line-height: 38px;
}

/* HEADER STYLES */
.site-header {
    background-color: #3c3b3a;
}
.header {
    text-align: center;
}

.header img {
    width: 150px;
    height: 120px;
}

.header nav a {
    text-decoration: none;
    color: #f2f2f2;
}

a:visited,
a:hover,
a:focus,
a:active {
    font-weight: bolder;
}

/* MAIN BODY */
.discover {
    padding: 0 8%
}

.activities {
    text-align: center;
    font-size: 32px;
    color: #3c3b3a;
    
}

.activities p {
    color: #26a682;
    font-family: 'Raleway', sans-serif;
}

.started {
    display: flex;
    justify-content: center;
}
.btn {
    background-color: #26a682;
    color: #f2f2f2;
    text-decoration: none;
    border: none;
    width: 250px;
    height: 60px;
    display: block;
    border-radius: 25px;
    font-weight: bold;
    font-size: 26px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
}

.reading {
    text-align: center;
}
.reading img {
    max-width: 60%;
    height: auto;
    margin-bottom: 10%;
}

.scroll {
    text-align: center;
    font-size: 35px;
    /* margin-bottom: 5%; */
    line-height: 1px;
}

.scroll i {
    color: #26a682;
    /* display: block; */
}

.scroll {
    display: none;
}

.school img {
    max-width: 100%;
    height: auto;
}

.algonquin {
    padding: 0 8%;
}

.algonquin h2 {
    font-style: italic;
}

.algonquin h3 {
    color: #26a682;
}

.algonquin button {
    
}

.btn2 {
    background-color: #26a682;
    color: #f2f2f2;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    width: 150px;
    font-weight: bold;
    padding: 2%;
    font-size: 18px;
    float: right;
}

.president {
    background-color: #3c3b3a;
    text-align: center;
    padding-bottom: 10%;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 5%;
}
.president h2 {
    color: #f2f2f2;
    text-align: center;
    font-size: 24px;
}
.president p {
    color: #f2f2f2;
    text-align: left;
    margin-bottom: 5%;
}
.president img {
    margin-top: 10%;
    margin-bottom: 5%;
    width: 150px;
    height: auto;
    border-radius: 300px;
    border: 5px solid #f2f2f2;
}

.entertainment img {
    max-width: 100%;
    height: auto;
}

.ent {
    padding: 0 8%
}

.ent h2 {
    font-style: italic;
}

.ent h3 {
    color: #26a682;
}

/* FOOTER STYLES */
.site-footer {
    background-color: #3c3b3a;
}
.follow {
    text-align: center;
}

.follow h3 {
    margin-bottom: 1%;
    color: #f2f2f2;
}
.follow img {
    margin-left: 1%;
}
.btp {
    text-align: end;
    margin-right: 10%;
    font-size: 35px;
}
.btp i {
    color: #26a682;
    width: 20px;
    height: 20px;
}
.btp p {
    color: #f2f2f2;
}

/* ------- TABLET --------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    main {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(8, auto);
    }

    .header {
        display: flex;
        padding: 0 7%;
    }

    nav {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    nav a {
        padding-left: 5%;
    }

    h1 {
        font-size: 72px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 32px;
    }

    p {
        font-size: 18px;
    }

    .activities {
        display: flex;
        justify-content: space-evenly;
    }

    .btn {
        font-size: 32px;
    }

    .reading img {
        margin-bottom: 10%;
    }

    .scroll {
        display: contents;
    }

    .school {
        width: 100%;
        height: 65%;
        overflow: hidden;
        margin-top: 5%;
    }

    .school img {
        max-width: 100%;
        height: auto;
        margin-top: -30%;
    }

    .president {
        padding-bottom: 5%;
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas: 
        "image text"
        "title text";
    }

    .president img {
        grid-area: image;
        width: 200px
    }

    .president h2 {
        grid-area: title;
        padding-right: 44%;
        font-size: 24px;
    }

    .president p {
        grid-area: text;
        font-size: 22px;
        padding-top: 10%;
    }

    .entertainment {
        width: 100%;
        height: 56%;
        overflow: hidden;
    }

    .entertainment img {
        max-width: 100%;
        height: auto;
        margin-top: -20%;
    }

    .ent {
        margin-top: -15%;
    }


}

/* DESKTOP LAYOUT */
@media only screen and (min-width: 1024px) {
    
    .header {
        display: flex;
        padding: 0 7%;
    }

    nav {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    nav a {
        padding-left: 5%;
    }
    
    main {
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, auto);
        grid-template-areas: 
        "discover img"
        "icons img"
        "button img"
        "down down"
        "school algonquin"
        "president president"
        "ent entertainment";
    }
    .scroll {
        display: contents;
    }

    .discover {
        grid-area: discover;
        margin: 15% 1% 1% 9%;
    }

    .activities {
        grid-area: icons;
        display: flex;
        justify-content: space-evenly;
        margin: 1% 14% 1% 14%;
    }

    .started {
        grid-area: button;
        display: flex;
        justify-content: flex-start;
        margin-left: 15%;
    }

    .reading {
        grid-area: img;
    }

    .scroll {
        grid-area: down;
    }

    .school {
        grid-area: school;
    }

    .algonquin {
        grid-area: algonquin;
        margin-right: 5%;
        margin-top: 3%;
    }

    .president {
        grid-area: president;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-bottom: 0%;
    }

    .president img {
        margin-top: 5%;
    }

    .president h2 {
        padding-left: 15%;
        text-align: left;
    }

    .president p {
        margin-bottom: 0%;
        padding-left: 15%;
     }

    .entertainment {
        grid-area: entertainment;
    }

    .ent {
        grid-area: ent;
        margin-top: 10%;
    }

    .reading img {
        max-width: 90%;
        height: auto;
        margin-bottom: 10%;
        margin: 10% 5% 1% -5%;
    }

    .school {
        width: 100%;
        height: 73%;
        overflow: hidden;
        margin-top: 5%;
    }

    .school img {
        max-width: 100%;
        height: auto;
        margin-top: -15%;
        margin-bottom: 10%;
        margin-left: 15%;
        padding-right: 15%;
    }

    .entertainment {
        width: 100%;
        height: 56%;
        overflow: hidden;
        margin-top: 10%;
        
    }

    .entertainment img {
        max-width: 100%;
        height: auto;
        margin-top: -13%;
        margin-bottom: 7%;
        padding-right: 10%;
    }

}